body {
  float:flex;
}
#head {
  float:left;
}
#icons {
float:right;
}
#logo1 {
  height:30px;
  width:30px;
}
#title {
  float:flex;
  font-size:10px;
  font-family: cursive;
  margin-left:5px;
}
#header {
  font-size: 7px;
  font-family: monospace;
}
#pizza {
  height:400px;
  width:600px;
}
.tab {
  text-indent: 25px;
}
#box {
  background-image:url(images/list-bg.png);
  height:200px;
  width:600px;
  padding:2px;
  margin:5px;
}
#textBox {
  padding:40px;
  -webkit-columns: 2 150px;
 -moz-columns: 2 150px;
 columns: 2 150px;
 -webkit-column-gap: 2em;
 -moz-column-gap: 2em;
 column-gap: 2em;
}
#print{
  float:right;
}
#share {
  float:right;
}
#bottom {
  content:url(images/logo.png);
}
